
    <h4 class="mb-4 mt-4"><span class="icon">E</span>Ex. D-WRz L 1837 &nbsp; &nbsp;<a href="#" class="title-row-link">RISM siglum: D-WRz</a>&nbsp; &nbsp;<a href="#" class="title-row-link">[Signatur]</a></h4>

    <div class="row flex-column flex-md-row">
    <div class="col source-item-text">

        <ul class="nav nav-tabs mb-4" id="itemTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#ort-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Standort</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#umfang-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">physische Merkmale</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="datierung-tab" data-bs-toggle="tab" data-bs-target="#datierung-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">handschriftliche Zusätze</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#kommentar-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Kommentar</button>
            </li>
        </ul>

        <div class="tab-content" id="itemTabContent">
            <div class="tab-pane fade show active" id="ort-tab-pane" role="tabpanel" aria-labelledby="ort-tab" tabindex="0">

        <p>
            <strong>Standort:</strong> Herzogin Anna Amalia Bibliothek<br />
            <strong>Ort:</strong> Weimar
        </p>
        <p>
            <strong>[alte Signatur]</strong>
        </p>
        <p>
            <strong>Provenienz:</strong><br />
            L. Ramann's | Liszt-Bibliothek | N°. 11<br />
            Zentralbibliothek der Deutschen Klassik Weimar. Nationale Forschungs- und Gedenkstätten
        </p>

</div>
<div class="tab-pane fade" id="umfang-tab-pane" role="tabpanel" aria-labelledby="umfang-tab" tabindex="0">

        <p>
            <strong>Umfang:</strong><br /> 50 Blatt, schwarzer Einband, Schmutztitel, 1 Titelseite, 2 Seiten Vorwort (dt/frz), 96 Seiten Notentext, 1 Leerseite, paginiert
        </p><p>
        <strong>Papier:</strong><br /> 253 x 163 mm
    </p><p>
        <strong>Beschreibung:</strong><br /> Druck weist sporadische Markierungen mit Bleistift und blauem Stift auf. Zudem ist jeweils der Hinweis auf die Polonaisen-Variante (bei Buchstaben D, S, 25 und N, S, 66) handschriftlich mit Bleistift ergänzt.<br />
    </p>


</div>
<div class="tab-pane fade" id="datierung-tab-pane" role="tabpanel" aria-labelledby="datierung-tab" tabindex="0">

        <p>
            <strong>[Datierung Quelle auf item Ebene], [Ort]</strong><br />

            <strong>[Widmung diplomatisch]</strong><br />

        <strong>[Kommentar zur Widmung]</strong>
            </p>

</div>
<div class="tab-pane fade" id="kommentar-tab-pane" role="tabpanel" aria-labelledby="kommentar-tab" tabindex="0">


        <p>
        <strong>Kommentar:</strong><br /> Laut den Digitalisaten enthält der Druck einen Beilage in Form einer Notiz auf Notenpapier von Ramann (?) mit Bleistift. Ist im Original nicht vorhanden.
            </p>

</div>
   </div>

     </div>

    <div class="col bd-placeholder">
        <a class="d-block" href="https://haab-digital.klassik-stiftung.de/viewer/image/4297652439/11/" >
            <img src="images/festklaenge-erstausgabe.jpg" width="500" height="656" alt="Bild vom Digitalisat" class="source-image ">

        </a>
        <a href="#" class="mt-4 d-block text-body ">
            <img src="images/karte-weimar-gs.png" width="500" height="417" alt="Karte mit Standort" class="source-image ">
           <p class="mt-2 text-center">
            Standort
           </p>
        </a>
    </div>
    </div>