<div class="source-item">


    <h4>[Überschrift:] Ex. D-WRz L 1837 &nbsp; &nbsp;<a href="#" class="title-row-link">[RISM siglum]: D-WRz</a>&nbsp; &nbsp;<a href="#" class="title-row-link">[Signatur]:</a></h4>

    <div class="source-item-text">
        <p>
            [alte Signatur]<br />
            [Provenienz]<br />
            [Widmung diplomatisch]<br />
            [Kommentar zur Widmung]<br />
            [Datierung Quelle], [Ort]<br />
            [Kommentar]<br />
            [Umfang]<br />
            [Papier]<br />
            [Beschreibung physische Merkmale des Exemplars]: <br />
            [Kommentar]: Druck weist sporadische Markierungen mit Bleistift und blauem Stift auf. Zudem ist jeweils der Hinweis auf die Polonaisen-Variante (bei Buchstaben D und N) handschriftlich mit Bleistift ergänzt.
            Letzte Leerseite oben abgeschnitten (evtl. Widmung von Liszt oder andere Eintragung entfernt?).<br />
            <br />
            [Aufführungen]<br />

        </p>
     </div>

    <div class="bd-placeholder">
        <a href="#" >
            <svg class="bd-placeholder-img img-thumbnail" width="200" height="200"
                 xmlns="http://www.w3.org/2000/svg" role="img"
                 aria-label="A generic square placeholder image"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>A generic square placeholder image</title>
                <rect width="100%" height="100%"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">[Thumbnail Quelle]</text>
            </svg>
        </a>
    </div>


</div>