<div class="source-item">


    <h4>[Überschrift:] Ex. D-WRz L 1837 &nbsp; &nbsp;<a href="#" class="title-row-link">[RISM siglum]: D-WRz</a>&nbsp; &nbsp;<a href="#" class="title-row-link">[Signatur]:</a></h4>

    <div class="source-item-text">
        <p>
            <strong>[alte Signatur]</strong>
            </p><p>
            <strong>[Provenienz]:</strong>
            L. Ramann's | Liszt-Bibliothek | N°. 11
            Zentralbibliothek der Deutschen Klassik Weimar. Nationale Forschungs- und Gedenkstätten
            </p>
            <p>
            <strong>[Widmung diplomatisch]</strong>
                </p><p>
        <strong>[Kommentar zur Widmung]</strong>
            </p><p>
        <strong>[Datierung Quelle auf item Ebene], [Ort]</strong>
            </p><p>
        <strong>[Kommentar]:</strong> Laut den Digitalisaten enthält der Druck einen Beilage in Form einer Notiz auf Notenpapier von Ramann (?) mit Bleistift. Ist im Original nicht vorhanden.
            </p><p>
        <strong>[Umfang]:</strong>50 Blatt, schwarzer Einband, Schmutztitel, 1 Titelseite, 2 Seiten Vorwort (dt/frz), 96 Seiten Notentext, 1 Leerseite, paginiert
            </p><p>
        <strong>[Papier]:</strong> Hochformat, 253 x 163 mm, 17 Notenzeilen
            </p><p>
        <strong>[Beschreibung physische Merkmale des Exemplars]:</strong> Druck weist sporadische Markierungen mit Bleistift und blauem Stift auf. Zudem ist jeweils der Hinweis auf die Polonaisen-Variante (bei Buchstaben D, S, 25 und N, S, 66) handschriftlich mit Bleistift ergänzt.<br />
            </p><p>
        <strong>[Aufführungen // Literatur]</strong>
            </p>
     </div>

    <div class="bd-placeholder">
        <a href="https://haab-digital.klassik-stiftung.de/viewer/image/4297652439/11/" >
            <img src="images/festklaenge-erstausgabe.jpg" width="500" height="656" alt="Bild vom Digitalisat" class="source-image ">

        </a>
    </div>


</div>