
<section class="footer-cta">
  <div class="container-xl">
    <div class="row">
      <div class="col-12">
        <h3 class="footer-cta-title">ICH MÖCHTE</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4">
        <a href="#" class="footer-cta">Ein Werk suchen <img class="img-arrow" src="images/Pfeil.svg" alt="Pfeil nach rechts" ></a>
      </div>
        <div class="col-12 col-md-4">
            <a href="#" class="footer-cta">Im Archiv stöbern <img class="img-arrow" src="images/Pfeil.svg" alt="Pfeil nach rechts" ></a>
        </div>
        <div class="col-12 col-md-4">
            <a href="#"  class="footer-cta">Fördern und unterstützen <img class="img-arrow" src="images/Pfeil.svg" alt="Pfeil nach rechts" ></a>
        </div>
    </div>
  </div>
</section>


<footer class="footer">
  <div class="container-xl">
            <div class="row">
                <div class="footer-col col-12 col-sm-8 col-md-4">
                    <h3 class="footer-title">Kontakt</h3>
                    <p>
                        Sächsische Landesbibliothek<br />
                        Staats- und Universitätsbibliothek Dresden SLUB<br />
                        Abteilung Informationstechnologie<br />
                        Referat Digitale Präsentation<br />
                        Zellescher Weg 18<br />
                        01054 Dresden<br />
                    </p>
                </div>
                <div class="footer-col col-12 col-sm-4 col-md-3">
                    <h3 class="footer-title">Rechtliches</h3>
                   <ul>
                          <li><a href="#">Impressum</a></li>
                          <li><a href="#">Datenschutz</a></li>
                          <li><a href="#">Bildnachweise</a></li>
                       <li><a href="#">Barrierefreiheit</a></li>
                       <li><a href="#">Cookieeinstellungen</a></li>
                   </ul>
                </div>
                <div class="footer-col col-12 col-md-5">
                    <h3 class="footer-title">&copy; LISZT PORTAL 2024</h3>
                    <p>
                        Das LISZT PORTAL ist ein Blindtext. Ximillit officil intis ad que dolum exped ut laut
                        occabo. Nequam quibus nos et rerunt et quosant ionecae nis estiones quam quid
                        eum qui te sinti te solenient laut mi, voluptas estis dolupti con ressit labo. Bus isquia
                        doluptate eos eost digeniet excerias aut eatur.
                    </p>
                </div>
            </div>
  </div>
</footer>