<footer class="footer">
    <section class="section footer-section footer-section-content">
        <div class="container-xl">
            <div class="section-row">
                <div class="section-column footer-section-content-column footer-section-content-column-left"></div>
                <div class="section-column footer-section-content-column footer-section-content-column-middle"></div>
                <div class="section-column footer-section-content-column footer-section-content-column-right"></div>
            </div>
        </div>
    </section>
    <section class="section footer-section footer-section-info bg-dark">
        <div class="container-xl py-4">
            <div class="row">
                <div class="col-12 ">
                    <nav class="footer-service-nav" aria-label="Service Links">
                        <ul class="clearfix">
                            <li>
                                <a href="#">Impressum</a>
                            </li>
                            <li>
                                <a href="#">Kontakt</a>
                            </li>
                            <li>
                                <a href="#">Datenschutz</a>
                            </li>
                            <li>
                                <a href="#">Barrierefreiheit</a>
                            </li>
                            <li>
                                <a href="#">Sitemap</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright-text small">© 2024
                    </div>
                </div>
            </div>
        </div>


    </section>
</footer>