<section class="sidebar-box">
    <h2 class="sidebar-box-label"> <strong>Erwähnte Personen</strong></h2>
    <ul class="tags">
        <li><a href="#">Friedrich Schiller</a></li>
        <li><a href="#">Lina Ramann</a></li>
        <li><a href="#">Peter Raabe</a></li>
        <li><a href="#">Richard Pohl</a></li>
        <li><a href="#">Maria Pawlowna</a></li>
        <li><a href="#">Carolyne zu Sayn-Wittgenstein</a></li>
    </ul>
</section>

<section class="sidebar-box">
    <h2 class="sidebar-box-label"> <strong>Erwähnte Werke</strong></h2>
    <ul class="tags">
        <li><a href="#">Werk 1</a></li>
        <li><a href="#">Werk 2</a></li>
        <li><a href="#">Werk 3</a></li>
    </ul>
</section>

<section class="sidebar-box">
    <h2 class="sidebar-box-label"> <strong>Erwähnte Institutionen</strong></h2>
    <ul class="tags">
        <li><a href="#">Breitkopf & Härtel</a></li>
        <li><a href="#">Allgemeiner Deutscher Musikverein</a></li>
        <li><a href="#">Rheinisches Musikfest</a></li>

    </ul>
</section>

{{#if this.withTags}}
<section class="sidebar-box">
    <h2 class="source-image-label">Classification</h2>
    <ul class="tags">
        <li><a href="#">Notated music</a></li>
        <li><a href="#">Print</a></li>
        <li><a href="#">First edition</a></li>
        <li><a href="#">Score</a></li>
        <li><a href="#">Complete</a></li>
    </ul>
</section>
{{/if}}
